.carousel-onezz {
  padding: 100px 5rem;
  background-color: #fff !important;
  /* height: 500px; */
  width: 100%;
}

.boxing-rayanz {
  background-color: #fff;
  border-radius: 9px;
  height: 400px;
}
.card-img-top {
  border-radius: 9px;
}

/* .card-img-top:hover {
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer !important;
} */

.boxing-rayanz h3 {
  text-align: center;
}
.button-rayan-style {
  text-decoration: none !important;
}
.slick-slide div {
  margin: 0 1rem;
}

.card-body {
  padding: 10px 0;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.rayanz-nav-item-carouselo {
  color: #fff;
  /* font-size: 30px; */
  margin: 40px 8px;
}

button.nav-link {
  border: 1px solid #000;
  /* margin-bottom: 22px; */
  border-radius: 5px;
  background: none;
}
button.nav-link:hover {
  background: #000;
}

ul.slick-dots {
  display: none !important;
}

img {
  float: left;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-title {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: black;
}

.favorite-icon {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 2; /* Place the icon above the image */
}

/* Category.css */
.icon {
  width: 28px; /* Set the desired width */
  height: 28px; /* Set the desired height */
  fill: rgba(0, 0, 0, 0.4); /* Icon fill color */
  cursor: pointer; /* Add a cursor pointer for interaction */
}

/* Change the color of the next and previous buttons */
.slick-prev,
.slick-next {
  background-color: grey; /* Change to your desired color */
  color: grey; /* Change the text color to make it readable */
  border-radius: 90px; /* Add rounded corners if desired */
  padding: 5px 10px; /* Adjust padding to change the button size */
}

/* Change the color on hover if needed */
.slick-prev:hover,
.slick-next:hover {
  background-color: grey; /* Change to the hover color you prefer */
}
